<section class="content-experiencia row">
  <div class="d-flex justify-content-center mb-5">
    <h3 class="titulo-experiencia">{{ titulo }}</h3>
  </div>

  <!-- card -->
  <article class="col-md-4 col-sm-6 col-12 d-flex justify-content-center mb-5">
    <!-- app-card-ventas -->
    <app-card-ventas></app-card-ventas>
  </article>

  <article class="col-md-4 col-sm-6 col-12 d-flex justify-content-center mb-5">
    <!-- app-card-maquetacion -->
    <app-card-maquetacion></app-card-maquetacion>
  </article>

  <article class="col-md-4 col-sm-6 col-12 d-flex justify-content-center mb-5">
    <!-- app-card-pc -->
    <app-card-pc></app-card-pc>
  </article>
</section>
