.hero {
  background-image: url(../../../assets/img/hero.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  background-attachment: fixed;
  animation: mover-img 10s timing-function delay iteration-count direction
    fill-mode;
}

.hero .contenedorTexto {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  margin: 11.875rem 0;
}

.hero .contenedorTexto .texto {
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  border-radius: 0.1875rem;
  padding: 1.25rem 3.75rem;
}

.hero .contenedorTexto .texto h1,
.hero .contenedorTexto .texto h2 {
  color: #fff;
  font-weight: 300;
  margin: 0;
}

.hero .contenedorTexto .texto .Nombre {
  margin: 0.625rem;
  font-size: 3.125rem;
  line-height: 3.125rem;
}

.hero .contenedorTexto .texto .Profesion {
  font-size: 1.5625rem;
  line-height: 3.125rem;
}
