<!-------------------------------------------------------------------------------------------->
<!-------------------------SECCION HERO - BANNER & NOMBRE - PROFESION------------------------->
<!-------------------------------------------------------------------------------------------->
<section class="row" [ngClass]="hero">
  <div class="contenedorTexto">
    <div class="texto">
      <h1 class="Nombre">{{ nombre }} {{ apellido }}</h1>
      <h2 class="Profesion">{{ profesion }}</h2>
    </div>
  </div>
</section>
<!--*******************************************FIN******************************************-->
