<!-------------------------------------------------------------------------------------------->
<!-------------------------SECCION HERO - BANNER & NOMBRE - PROFESION------------------------->
<!-------------------------------------------------------------------------------------------->
<section class="hero row">
  <div class="contenedorTexto">
    <div class="texto">
      <h1 class="Nombre">Hernan Sanchez</h1>
      <h2 class="Profesion">Full Stack Developer jr</h2>
    </div>
  </div>
</section>
<!--*******************************************FIN******************************************-->
