<div class="card card-cursos text-bg-dark">
  <video
    src="../../../../assets/multimedia/videos/curso4.mp4"
    style="filter: blur(3px)"
    class="card-img"
    autoplay="true"
    loop="true"
  ></video>
  <div class="descripcion-cursos card-img-overlay">
    <h5 class="card-title">Arg programa - #YoProgramo</h5>
    <p class="card-text">
      Actualemente curso #YoProgramo donde profundizo en tecnologias como JS,
      TS, Angular, etc. Para convertirme en Desarrollador Full Stack Jr.
    </p>
    <a
      class="nav-link"
      target="_blank"
      href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"
      >Conocer mas</a
    >
  </div>
</div>
