<section class="content-educacion-complementaria row">
  <div class="d-flex justify-content-center mb-5">
    <h3 class="titulo-educacion-complementaria">{{ titulo }}</h3>
  </div>

  <article class="col-md-4 col-sm-6 col-12 d-flex justify-content-center mb-5">
    <!-- app-card-igles -->
    <app-card-ingles></app-card-ingles>
  </article>
  <!-- app-card-digitalers -->
  <article class="col-md-4 col-sm-6 col-12 d-flex justify-content-center mb-5">
    <app-card-digitalers></app-card-digitalers>
  </article>
  <article class="col-md-4 col-sm-6 col-12 d-flex justify-content-center mb-5">
    <!-- app-card-seProgramar -->
    <app-card-se-programar></app-card-se-programar>
  </article>
  <article class="col-md-4 col-sm-6 col-12 d-flex justify-content-center mb-5">
    <!-- app-card-yoProgramo -->
    <app-card-yo-programo></app-card-yo-programo>
  </article>
</section>
