<div class="card card-cursos text-bg-dark">
  <video
    src="../../../../assets/multimedia/videos/curso2.mp4"
    style="filter: blur(3px)"
    class="card-img"
    autoplay="true"
    loop="true"
  ></video>
  <div class="descripcion-cursos card-img-overlay">
    <h5 class="card-title">Arg programa - #SeProgramar</h5>
    <p class="card-text">
      A finales del 2021, curse #SeProgramar de Argentina programa donde adquiri
      mas conocimientos de JS y POO con Ruby.
    </p>
    <a
      class="nav-link"
      target="_blank"
      href="https://www.argentina.gob.ar/produccion/argentina-programa/primera-etapa"
      >Conocer mas</a
    >
  </div>
</div>
