<div class="card">
  <!-- src="../../../../assets/img/maquetacion-web.jpg"  -->
  <img [src]="imgMaquetacion" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ cargo }}</h5>
    <div class="desde-hasta d-flex">
      <p class="desde-hasta-p">Desde:</p>
      <span class="me-2 ms-2">{{ inicio }}</span>
      <p class="desde-hasta-p">Hasta:</p>
      <span class="me-2 ms-2">{{ fin }}</span>
    </div>
    <p class="card-text mb-2">Descripcion del puesto:</p>
    <div class="descripcion">
      <p>
        {{ descripcion }}
      </p>
    </div>
  </div>
</div>
