<main class="contenedorMain container-fluid mb-2">
  <!-- app-seccion-hero -->
  <app-seccion-hero></app-seccion-hero>

  <!-- app-seccion-about-me -->
  <app-seccion-about-me></app-seccion-about-me>

  <!-- app-seccion-experiencia-laboral -->
  <app-seccion-experiencia-laboral></app-seccion-experiencia-laboral>

  <!-- app-seccion-educacion-formal -->
  <app-seccion-educacion-formal></app-seccion-educacion-formal>

  <!-- app-seccion-educacion-complementaria -->
  <app-seccion-educacion-complementaria></app-seccion-educacion-complementaria>

  <!-- app-seccion-hard-soft-skills -->
  <app-seccion-hard-soft-skills></app-seccion-hard-soft-skills>

  <!-- app-seccion-proyectos -->
  <app-seccion-proyectos></app-seccion-proyectos>

  <!-- app-cv -->
  <app-cv></app-cv>
</main>
