<div class="card" style="width: 20rem">
  <img
    src="../../../../assets/img/armado-pc.jpg"
    style="height: 15rem"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Armado de pc</h5>
    <div class="desde-hasta d-flex">
      <p class="desde-hasta-p">Desde:</p>
      <span class="me-2 ms-2">Sep. 2020</span>
      <p class="desde-hasta-p">Hasta:</p>
      <span class="me-2 ms-2">Sep. 2020</span>
    </div>

    <p class="card-text mb-2">Descripcion del puesto:</p>
    <div class="descripcion">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error quod
        nulla quos deserunt?
      </p>
    </div>
  </div>
</div>
