<!------------------------------------------------------------------------------------------------------------>
<!----------------------------------------------------NAVBAR---------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------>
<nav class="container-fluid navbar navbar-expand-md navbar-dark pt-0 pb-0">
  <!-- contenedor navbar -->

  <div class="container-fluid contenido-navbar">
    <!-- menu hamburguesa -->
    <app-logo-ap></app-logo-ap>
    <app-btn-burger></app-btn-burger>

    <!-- contenido colapsable -->
    <div
      class="contenedorNav collapse navbar-collapse justify-content-end"
      id="nav"
    >
      <!-- redes sociale -->
      <app-social-media></app-social-media>

      <!------------------------------------------------------------------------------------->
      <!-------------------------CONTENIDO DE LA VENTANA MODAL Modal------------------------->
      <!------------------------------------------------------------------------------------->
      <app-login></app-login>
    </div>
  </div>
</nav>
