<div class="card">
  <img [src]="imgTec" style="height: 15rem" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ tecnicatura }} <br /></h5>
    <div class="desde-hasta d-flex">
      <p style="font-weight: bold">Desde:</p>
      <span class="me-2 ms-2">{{ inicio }}</span>
      <p style="font-weight: bold">Hasta:</p>
      <span class="me-2 ms-2">{{ fin }}</span>
    </div>
    <p>
      <a
        class="btn btn-colappse-horizontal btn-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#ispc-collapse"
        aria-expanded="false"
        aria-controls="ispc-collapse"
      >
        Titulo
      </a>
    </p>

    <!-- colapsable horizontal body -->
    <app-colapsable-ispc></app-colapsable-ispc>
  </div>
</div>
