<div class="d-flex justify-content-center mb-5">
  <div class="card" style="width: 40rem">
    <div class="card-body">
      <h5 class="card-title text-center mb-4 h4">Soft Skills</h5>
      <hr class="mb-5" />
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <div class="skills">
        <!-- TITULO -->
        <div class="d-flex justify-content-center align-items-center">
          <p class="skill me-2 text-center text-success h6">
            Gestion de tiempo
          </p>
          <i class="fa-solid fa-business-time text-success"></i>
        </div>
        <!-- ALTA-BAJA -->
        <div class="d-flex justify-content-between">
          <p class="mb-0">Baja</p>
          <p class="mb-0">Media</p>
          <p class="mb-0">Alta</p>
        </div>
        <div class="progress skill-barra mb-3">
          <div
            class="progress-bar gest-tiempo"
            role="progressbar"
            aria-label="Basic example"
            style="width: 75%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>

        <!-- TITULO -->
        <div class="d-flex justify-content-center align-items-center">
          <p class="skill me-2 text-center text-success h6">Comunicacion</p>
          <i class="fa-solid fa-comment text-success"></i>
        </div>
        <!-- ALTA-BAJA -->
        <div class="d-flex justify-content-between">
          <p class="mb-0">Baja</p>
          <p class="mb-0">Media</p>
          <p class="mb-0">Alta</p>
        </div>
        <div class="progress skill-barra mb-3">
          <div
            class="progress-bar comunicacion"
            role="progressbar "
            aria-label="Basic example"
            style="width: 90%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>

        <!-- TITULO -->
        <div class="d-flex justify-content-center align-items-center">
          <p class="skill me-2 text-center text-success h6">Trabajo en grupo</p>
          <i class="fa-solid fa-users-line text-success"></i>
        </div>
        <!-- ALTA-BAJA -->
        <div class="d-flex justify-content-between">
          <p class="mb-0">Baja</p>
          <p class="mb-0">Media</p>
          <p class="mb-0">Alta</p>
        </div>
        <div class="progress skill-barra mb-3">
          <div
            class="progress-bar trab-grupo"
            role="progressbar "
            aria-label="Basic example"
            style="width: 100%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>

        <!-- TITULO -->
        <div class="d-flex justify-content-center align-items-center">
          <p class="skill me-2 text-center text-success h6">
            Capacidad resolutiva
          </p>
          <i class="fa-solid fa-brain text text-success"></i>
        </div>
        <!-- ALTA-BAJA -->
        <div class="d-flex justify-content-between">
          <p class="mb-0">Baja</p>
          <p class="mb-0">Media</p>
          <p class="mb-0">Alta</p>
        </div>
        <div class="progress skill-barra mb-3">
          <div
            class="progress-bar cap-res"
            role="progressbar "
            aria-label="Basic example"
            style="width: 85%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>

        <!-- TITULO -->
        <div class="d-flex justify-content-center align-items-center">
          <p class="skill me-2 text-center text-success h6">Creatividad</p>
          <i class="fa-solid fa-palette text-success"></i>
        </div>
        <!-- ALTA-BAJA -->
        <div class="d-flex justify-content-between">
          <p class="mb-0">Baja</p>
          <p class="mb-0">Media</p>
          <p class="mb-0">Alta</p>
        </div>
        <div class="progress skill-barra mb-3">
          <div
            class="progress-bar cratividad"
            role="progressbar "
            aria-label="Basic example"
            style="width: 100%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
