<header>
  <!-------------------------------------------------------------------------------------------->
  <!-----------------------------------------NAVEGACION----------------------------------------->
  <!-------------------------------------------------------------------------------------------->
  <nav class="container-fluid navbar navbar-expand-md navbar-dark p-0">
    <!-- contenedor navbar -->
    <div class="container-fluid contenido-navbar">
      <a href="/index">
        <img class="logo" src="../../../assets/img/logoAP.jpg" alt="logo" />
      </a>
      <!-- menu hamburguesa -->
      <button
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#nav"
        type="button"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- contenido colapsable -->
      <div
        class="contenedorNav collapse navbar-collapse justify-content-end"
        id="nav"
      >
        <!-- redes -->
        <ul class="menu navbar-nav align-items-end">
          <li class="p-md-2 pb-sm-2">
            <a href="https://github.com/Hernan-99" target="_blank"
              ><i class="fa-brands icon gh fa-square-github"></i
            ></a>
          </li>
          <li class="p-md-2 pb-sm-2">
            <a
              href="https://www.linkedin.com/in/sanchez-hernan-gabriel/"
              target="_blank"
              ><i class="fa-brands icon in fa-linkedin"></i
            ></a>
          </li>
          <!------------------------------------>
          <!-- DISPARADOR DE LA VENTANA MODAL -->
          <!------------------------------------>
          <li class="p-md-2 pb-sm-2 login-btn" type="button">
            <i class="fa-solid ur iconur fa-arrow-right-from-bracket"></i>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
