<ul class="menu navbar-nav align-items-end">
  <li class="p-md-2 pb-sm-2">
    <a href="https://github.com/Hernan-99" target="_blank"
      ><i class="fa-brands icon gh {{ icono1 }}"></i
    ></a>
  </li>
  <li class="p-md-2 pb-sm-2">
    <a
      href="https://www.linkedin.com/in/sanchez-hernan-gabriel/"
      target="_blank"
      ><i class="fa-brands icon in {{ icono2 }}"></i
    ></a>
  </li>
  <li class="p-md-2 pb-sm-2">
    <a href="https://www.instagram.com/_hernan.gabriel/" target="_blank"
      ><i class="fa-brands icon ig {{ icono3 }}"></i
    ></a>
  </li>
  <li class="p-md-2 pb-sm-2">
    <a href="https://twitter.com/" target="_blank"
      ><i class="fa-brands icon tw {{ icono4 }}"></i
    ></a>
  </li>
  <!------------------------------------>
  <!-- DISPARADOR DE LA VENTANA MODAL -->
  <!------------------------------------>
  <li
    class="p-md-2 pb-sm-2 login-btn"
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    <i class="fa-solid ur iconur {{ icono5 }}"></i>
  </li>
</ul>
