<div class="card">
  <img [src]="imgUni" style="height: 15rem" class="card-img-top" alt="..." />

  <div class="card-body">
    <h5 class="card-title">{{ universidad }}</h5>
    <div class="desde-hasta d-flex">
      <p style="font-weight: bold">Desde:</p>
      <span class="me-2 ms-2">{{ inicio }}</span>
      <p style="font-weight: bold">Hasta:</p>
      <span class="me-2 ms-2">{{ fin }}</span>
    </div>
    <p>
      <a
        class="btn btn-colappse-horizontal btn-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#universidad-collapse"
        aria-expanded="false"
        aria-controls="universidad-collapse"
      >
        Titulo
      </a>
    </p>

    <!-- app-colapsable-uni -->
    <app-colapsable-unla></app-colapsable-unla>
  </div>
</div>
