<div class="card">
  <img
    src="../../../assets/img/unla.png"
    style="height: 15rem"
    class="card-img-top"
    alt="..."
  />

  <div class="card-body">
    <h5 class="card-title">Universidad Nacional de Lanus (UNLa)</h5>
    <div class="desde-hasta d-flex">
      <p style="font-weight: bold">Desde:</p>
      <span class="me-2 ms-2">Mar. 2019</span>
      <p style="font-weight: bold">Hasta:</p>
      <span class="me-2 ms-2">Actualidad</span>
    </div>
    <p>
      <a
        class="btn btn-colappse-horizontal btn-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#universidad-collapse"
        aria-expanded="false"
        aria-controls="universidad-collapse"
      >
        Titulo
      </a>
    </p>

    <!-- app-colapsable-uni -->
    <app-colapsable-unla></app-colapsable-unla>
  </div>
</div>
