<div class="card h-100 bg-azul">
  <div class="card-body">
    <h5 class="card-title">Editor de codigo</h5>
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, cumque
      dolore libero possimus iusto corrupti mollitia quisquam reiciendis commodi
      labore eum impedit consectetur sit nemo. Delectus eveniet quia quam hic.
    </p>

    <div class="d-flex justify-content-around">
      <i class="me-1 tec html mb-0 fa-brands fa-html5 fs-2"></i>
      <i class="me-1 tec css fa-brands fa-css3-alt fs-2"> </i>
      <i class="me-1 javascript tec fa-brands fa-square-js fs-2"></i>
    </div>
  </div>

  <div class="card-footer">
    <a href="#" class="card-link link">Card link</a>
    <a href="#" class="card-link link">Another link</a>
  </div>
</div>
