<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <!-- header titulo -->
      <div class="modal-header border-0">
        <h5 class="modal-title text-light" id="exampleModalLabel">Login</h5>
        <!-- equis para salir del modal -->
        <i
          class="cerrar fa-solid text-light f-4 fa-xmark"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
        </i>
      </div>
      <!-- formulario del modal -->
      <form
        class="formulario modal-body"
        id="formLogin"
        [formGroup]="formLogin"
        (ngSubmit)="onSubmit()"
      >
        <div class="mb-3">
          <label for="exampleInputEmail" class="form-label">Email</label>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            id="exampleInputEmail"
            aria-describedby="emailHelp"
            placeholder="ejemplo@gmail.com"
            required
          />
          <div
            *ngIf="
              formLogin.controls['email'].invalid &&
              formLogin.controls['email'].touched
            "
          >
            <!-- <p class="msj">Campo obligatorio</p>
            <p class="msj">Ingrese un email correcto</p> -->
            <div *ngIf="formLogin.controls['email'].errors?.['required']">
              <p class="msj">Campo obligatorio</p>
            </div>
            <div *ngIf="formLogin.controls['email'].errors?.['pattern']">
              <p class="msj">Ingrese un email correcto</p>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword" class="form-label">
            Contraseña
          </label>
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="exampleInputPassword"
            placeholder="********"
            required
          />
          <div
            *ngIf="
              formLogin.controls['password'].invalid &&
              formLogin.controls['password'].touched
            "
          >
            <p
              class="msj"
              *ngIf="formLogin.controls['password'].errors?.['required']"
            >
              Campo obligatorio
            </p>

            <p
              class="msj"
              *ngIf="formLogin.controls['password'].errors?.['minlength']"
            >
              La debe tener al menos 8 caracteres
            </p>
          </div>
        </div>

        <button
          class="border-0 btn btn-ingresar"
          [ngStyle]="{ marginRight: 5 + 'px' }"
          type="submit"
          data-bs-dismiss="modal"
          form="formLogin"
          routerLink="/dashboard"
          [disabled]="!formLogin.valid"
        >
          Ingresar
        </button>
        <button
          class="border-0 btn btn-ingresar"
          type="submit"
          data-bs-dismiss="modal"
          form="formLogin"
          routerLink="/dashboard"
        >
          Registrarse
        </button>
      </form>
    </div>
  </div>
</div>
