<section class="content-educacion row">
  <div class="d-flex justify-content-center mb-5">
    <h3 class="titulo-educacion">{{ titulo }}</h3>
  </div>

  <article class="col-md-4 col-sm-6 col-12 d-flex justify-content-center mb-5">
    <!-- app-crd-secu -->
    <app-card-secu></app-card-secu>
  </article>

  <article class="col-md-4 col-sm-6 col-12 d-flex justify-content-center mb-5">
    <!-- app-crd-uni -->
    <app-card-uni></app-card-uni>
  </article>

  <article class="col-md-4 col-sm-6 col-12 d-flex justify-content-center mb-5">
    <!-- app-crd-tec -->
    <app-card-tec></app-card-tec>
  </article>
</section>
