<!-- CARD-CONTENIDO -->
<div class="card h-100 bg-verde1">
  <div class="card-body">
    <h5 class="card-title">{{ titulo }}</h5>
    <p class="card-text">
      {{ descripcion }}
    </p>
    <div class="d-flex justify-content-around">
      <i class="me-1 tec html {{ icono1 }} mb-0 fs-2"></i>
      <i class="me-1 tec css {{ icono2 }} fs-2"> </i>
      <i class="me-1 javascript tec {{ icono3 }} fs-2"></i>

      <!-- <i
      class="me-1 tec mb-0 {{ lenguaje.icono }} fs-2"
      [ngClass]="lenguaje.color_icono"
    > -->
      <!-- <i class="me-1 tec html mb-0 fa-brands fa-html5 fs-2"></i>
      <i class="me-1 tec css fa-brands fa-css3-alt fs-2"> </i>
      <i class="me-1 javascript tec fa-brands fa-square-js fs-2"></i> -->
    </div>
  </div>
  <div class="card-footer">
    <a
      href="https://trecafe1.netlify.app/"
      target="_blank"
      class="card-link link"
      >Visitar sitio</a
    >
  </div>
</div>
